<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
      <!-- <mat-drawer mode="side" opened="true"> -->
      <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
      <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
      <div class="container-fluid page">
        <div class="d-flex page__box p-3 mt-2">
            <div class="titulo-pedir">
                <h1>Olá, <span>{{nome}}</span>!</h1>
                <h5><mat-icon>how_to_reg</mat-icon> Abaixo segue a lista com os pedidos de ajuda cadastrados em nosso sistema.</h5>
            </div>
        </div>
        <div class="page__content shadow p-3 position-relative">  
          <app-ajuda-table-pedir></app-ajuda-table-pedir>
            <div class="page__content-data position-absolute text-center">
            <div class="info">
            </div>
          </div>
        </div>
    </div> 
    </mat-drawer-content>
</mat-drawer-container>