@import"../../../../assets/style/style-pages.scss";
.titulo-pedir h1 {
    font-size: 2.5rem;
}

.titulo-pedir h5 {
    font-size: 1.2rem;
}

.titulo-pedir {
    padding: 1.5rem 0 2.5rem 5rem;
}

.form-group {
    margin: 2rem 0;
}

.form-group label {
    font-size: 1rem;
}

.form-pedido-ajuda {
    display: flex;
    justify-content: space-evenly;
}

.content-mensagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-pedir {
    width: 100%;
    padding: 2rem;
}


:host::ng-deep {
    .form-pedir .opcoes-ajuda .p-component,
    .form-pedir .contato-ajuda .p-component {
        width: 25vw;
    }

    .form-pedir .descricao-ajuda .p-component {
        width: 35vw;
    }

    .form-pedir .enviar-pedir .p-button {
        float: right;
        padding: 1.5rem 5rem;
        font-size: 1.3rem;
    }

    .p-dialog .p-dialog-content {
        padding: 0 2rem 1rem 2rem!important;
    }

    .p-inputtext {
        width: 100%;
    }

    textarea {
        margin: 0;
    }

    .b-alterar .p-button {
        background-color: var(--cor-amarela);
        border: 1px solid var(--cor-amarela);
    }

    .mb-3 {
        margin-bottom: 2rem!important;
    }

    .container {
        box-shadow: 2px 5px 10px rgba(0, 0, 0, .2);
        background-color: var(--cor-grey);
        border-radius: .5rem;
    }

    .p-dropdown {
        width: 100%;
    }

    .container th {
        font-size: 1.5rem!important;
        color: var(--cor-azul);
        padding: 1rem .5rem;
    }

    .container td {
        font-size: 1rem!important;
        padding: 1rem .5rem;
    }

    .bg-light {
        background-color: transparent!important;
    }

}

.bt-altex { display: flex;}

.b-crud {
    display: flex;
    justify-content: right;
}

.form-pedir .opcoes-ajuda,
.form-pedir .descricao-ajuda  {
    margin: 0 0 2.5rem 0;
}

.titulo-pedir h5 {
    font-size: 1.1rem;
}

.content-mensagem {
    display: initial!important;
}


@media (max-width: 900px) {
    .container td {
        font-size: .85rem!important;
    }

    .container th {
        font-size: 1rem!important;
        width: 100%;
    }

    .container {
        --bs-gutter-x: 0!important;
    }

    :host::ng-deep {
        
        .p-dropdown {
            width: 95%;
        }

        .enviar-pedir .p-element {
            width: 90%!important;
        }
    
        .p-dialog .p-dialog-content {
            padding: 0 1rem 1rem 2rem!important;
        }
    }

    .bt-alterart { margin-right: .5rem;}

    .bt-altex .mx-2 { margin-left: 0!important;}

    .bt-alterart button {
        width: 100%;
        margin-bottom: .5rem;
    }
    
}