<nav class="navbar bg-light">
    <div class="container-fluid" hidden>
        <a class="navbar-brand"></a>
          <p-button (click)="showModalDialog(); onAddClick();" label="Cadastrar nova ajuda" icon="pi pi-plus"></p-button>
    </div>
</nav>

<div class="container mt-2 table-responsive">
  <table class="table table-hover table-striped">
    <thead >
      <tr>
        <!--
           <th>id</th>
        -->
        <th>Categoria</th>
        <th>Descrição</th>
        <th>Bairro</th>
        <th>Contato</th>
        <th>Data </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let doacao of doacoes  | orderBy: 'id'">
        <!--
          <td>{{doacao.id}}</td>
        -->
        <td>{{doacao.doacaocategoria}}</td>
        <td>{{doacao.descricao}}</td>
        <td>{{doacao.bairro}}</td>
        <td>{{contato(doacao.telefone)| mask:'(00) 00000-0000'}} </td>
        <td>{{doacao.data | date: 'dd/MM/yyyy'}}</td>
        <td>
          <div class="bt-altex">
            <div class="bt-alterart">
              <button (click)="showModalDialog(); editDoacao(doacao);"  *ngIf="doador" class="btn btn-sm btn-warning text-white mx-2"><i class="pi pi-pencil"></i> Alterar</button>
            </div>
            <div class="bt-excluirt">
              <button (click)="deleteDoacao(doacao)" *ngIf="doador" class="btn btn-sm btn-danger"><i class="pi pi-trash"></i> Excluir</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="enviar-pedir">
  <p-dialog header="Pedido de Ajuda" id="" [(visible)]="displayModal" [modal]="true" [style]="{width: '30vw'}" [draggable]="false" [resizable]="false">
    <div class="content-mensagem">
      <p class="m-0"></p>
      <form>
        <div class="mb-3">
          <div class="opcoes-ajuda" required>
            <p-dropdown [options]="opcoesajuda" placeholder="Qual sua necessidade?"  name="doacaocategoria" [(ngModel)]="doacao.doacaocategoria" [showClear]="true" > </p-dropdown>
          </div>
        </div>
        <div class="form-group">
          <span class="p-float-label">
            <textarea id="float-input" rows="5" cols="20" pInputTextarea  style="resize: none;"  name="descricao"[(ngModel)]="doacao.descricao" placeholder="" ></textarea>
            <label for="float-input">Descrição</label>
          </span>
        </div>
        <div class="mb-3">
          <span class="p-float-label">
            <input id="float-input" type="text" pInputText [(ngModel)]="doacao.telefone" [mask]="getTelefoneMask()"  name="contato"  placeholder="" > 
            <label class="form-label" for="float-input"><i class="pi pi-whatsapp"></i> Contato </label>
          </span>
        </div>
        <div class="mb-3">
          <span class="p-float-label">
            <input id="float-input" type="text" [(ngModel)]="doacao.bairro " minlength="3" maxlength="30"  required name="bairro" pInputText> 
            <label for="float-input"> Bairro </label>
          </span>
        </div>
        <div class="mb-3">
          <span class="p-float-label">
            <input id="float-input" type="text" [(ngModel)]="doacao.cep" required name="cep" [mask]="getCepMask()" pInputText> 
            <label for="float-input"> CEP </label>
          </span>
        </div>
      </form>
    </div>
    <ng-template pTemplate="footer">
      <div class="b-crud">
        <div class="b-alterar">
          <p-button type="button" icon="pi pi-file-edit" label="Alterar" (click)="updateAjudaDetails()" *ngIf="showUpdateBtn"></p-button>
        </div>
        <div class="b-fechar">
          <p-button type="button"  icon="" (click)="displayModal=false;" label="Fechar" id="close" styleClass="p-button-text"></p-button>
        </div>
      </div>
      
      <!-- <p-button type="button" icon="pi pi-plus-circle" label="Adicionar" (click)="postAjudaDetails()" *ngIf="showAddBtn"></p-button> -->
    </ng-template>
  </p-dialog>
 </div>
