<form class="form-pedir">
    <div class="form-pedido-ajuda"> 
        <div class="form-group">  
          <div class="opcoes-ajuda" required>
            <p-dropdown [options]="opcoesajuda" placeholder="Qual sua necessidade?"  name="doacaocategoria" [(ngModel)]="doacao.doacaocategoria" [showClear]="true" > </p-dropdown>
          </div>
          <div class="contato-ajuda">
            <span class="p-float-label">
              <input id="float-input" type="text" [(ngModel)]="doacao.telefone" required name="contato" [mask]="getTelefoneMask()" pInputText> 
              <label for="float-input"><i class="pi pi-whatsapp"></i> Contato </label>
            </span>
          </div>
          <div class="contato-ajuda">
            <span class="p-float-label">
              <input id="float-input" type="text" [(ngModel)]="doacao.bairro " minlength="3" maxlength="30"  required name="bairro" pInputText> 
              <label for="float-input"> Bairro </label>
            </span>
          </div>
          <div class="contato-ajuda">
            <span class="p-float-label">
              <input id="float-input" type="text" [(ngModel)]="doacao.cep" required name="cep" [mask]="getCepMask()" pInputText> 
              <label for="float-input"> CEP </label>
            </span>
        </div>
        <div class="form-group"></div>
        </div>
        <div class="form-group">
          <div class="descricao-ajuda">
            <span class="p-float-label">
              <textarea id="float-input" rows="5" cols="30" [(ngModel)]="doacao.descricao" required name="descricao" required pInputTextarea style="resize: none;" ></textarea>
              <label for="float-input">Breve Descrição</label>
            </span>
          </div>
         <div class="enviar-pedir">
          <p-button (click)="salvar()" label="Enviar" valid icon="pi pi-send" ></p-button>
          <p-dialog header="Ajude.me" [(visible)]="displayModal" [modal]="true" [style]="{width: '30vw'}" [draggable]="false" [resizable]="false">
            <div class="content-mensagem">
              <p class="m-0"></p>
              <h1>Deu tudo CERTO!</h1>
              <img [style]="{width: '12vw'}" src="../../../../assets/img/Ok.gif">
              <h4>Sua solicitação já se encontra em nosso sistema.</h4>
            </div>
            <ng-template pTemplate="footer">
              <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" (click) =locationreload() styleClass="p-button-text"></p-button>
            </ng-template>
          </p-dialog>

          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <small *ngIf="mensagem" class="text-danger support-text">{{mensagem}}</small>            
          </div>
          
         </div>
        </div>
    </div>
</form>
